  .nav-pills .nav-link.active, .show>.nav-pills .nav-link {
    color : lawngreen;
    background-color:#343a40;
    font-family:proxima-nova,'Open Sans','Gill Sans MT','Gill Sans',Corbel,Arial,sans-serif;

  }

  a {
    color : #28a745;

  }

  .nav-link:focus, .nav-link:hover{
    color : green;
    text-decoration:none;
    font-family:proxima-nova,'Open Sans','Gill Sans MT','Gill Sans',Corbel,Arial,sans-serif;

  }

  #description{
    border: 2px solid rgb(0,0,0);
    text-align:center;
    border-radius: 5px;
    color : green;
    font-family:proxima-nova,'Open Sans','Gill Sans MT','Gill Sans',Corbel,Arial,sans-serif;
    font-size : 22px;
    text-indent: 10px;

  }

  #generator{
    color : lawngreen;

  }

  .panel-heading:hover {
      cursor:pointer;

  }

  .panel-heading {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

  }

  .side-tab:hover {
      cursor: pointer;

  }

  .panel.panel-default {
      border: none;
      box-shadow: none !important;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;

  }

  .panel-heading {
      border: none;
      background-color: #eee;
  }

  .panel-body {
      background-color: #f5f5f5;
  }

  .panel-title {
      font-weight: 400;
      color: $white;
  }

  .menuButton {
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(0,0,0);
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow:hidden;
    transition: .3s;
  }

  .flex-container {
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      -webkit-justify-content: center;
      justify-content: center;
      width: 400px;
      height: 250px;
  }

  .flex-item {
      width: 100px;
      height: 100px;
      margin: 10px;
  }
